<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEyM8vSvP-b_r3feS7Wy93jAsUyn21GFU</string>
	<key>GCM_SENDER_ID</key>
	<string>625607379932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practicum.iOS-FakeNFT</string>
	<key>PROJECT_ID</key>
	<string>ios-fakenft</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-fakenft.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625607379932:ios:3cb946f85fd5d4574a1d19</string>
</dict>
</plist>